
# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
.eggs/
dist/
build/
*.log

# Virtual environments
.venv/
env/
venv/
ENV/

# Jupyter
.ipynb_checkpoints/
*.nbconvert.ipynb


# Streamlit
.streamlit/


# IDEs & Editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project


# OS Specific
.DS_Store
Thumbs.db

# Misc
*.bak
*.swp